{% extends 'frontend/base.html' %} 
{% load static %}
{% block content %}
    <h2 style="text-align: center">All of Expense Statement</h2>
    <h4 style="text-align: center;">(from start to present)</h4>
    <br>
    <h3 style="text-align: center;">Your total profit is: <span>{{ profit }}</span> baht</h3>
    <br>
    <h4 style="text-align: center;">You've made a total of : <span style="color:green;">{{ income }}</span> baht</h4>
    <h4 style="text-align: center;">You've spent a total of : <span style="color:red;">{{ expense }}</span> baht</h4>
    <br>
    <br>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Income</th>
                                <th>Expense</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in statement %}
                            <tr>
                                <td>{{ s.statement_date }}</td>
                                <td>{{ s.statement_description }}</td>
                                <td>{{ s.statement_income }}</td>
                                <td>{{ s.statement_expense }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <a href="{% url 'index' %}">Home -></a>
            </div>
        </div>
    </div> 
{% endblock %}